/* Navbar */
.navbar {
    background-color: #004658;
    margin-bottom: 80px;
}

.navbar-title {
    font-style: italic;
    font-size: 36px;
    color: #ffffff;
}

.navbar-brand {
    font-weight: bold;
}

.navbar-text {
    color: #ffffff;
    font-style: italic;
}

.navbar-nav .nav-link {
    color: #ffffff;
    margin-left: 10px;
}

.container-fluid .nav-link {
    color: #ffffff;
    margin-left: 10px;
}