/* Estilo general para la página */
body {
  background-color: #f8f9fa;
  color: #343a40;
  margin-top: 60px; /* Para compensar el fixed navbar */
}

/* Estilo para el contenedor principal */
.container {
  max-width: 700px;
}

/* Estilo para el título de la página */
h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: #004658;
  text-align: center;
}

/* Estilo para la tarjeta */
.card {
  border: none;
  border-radius: 10px;
  background: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-body {
  padding: 2rem;
}

/* Estilo para los inputs */
.form-control,
.form-select {
  border-radius: 8px;
  border: 1px solid #ccc;
  padding: 0.8rem;
  font-size: 1rem;
  transition: all 0.3s ease;
}

.form-control:focus,
.form-select:focus {
  border-color: #004658;
  box-shadow: 0 0 5px rgba(0, 64, 128, 0.5);
}

/* Botón de registro */
.btn-primary {
  margin-left: 33%;
  background-color: #004658;
  border: none;
  padding: 0.8rem 1.5rem;
  font-size: 1rem;
  border-radius: 8px;
  transition: background-color 0.3s ease;
  width: 35%;
}

.btn-primary:hover {
  background-color: #004658;
}

/* Estilo para los mensajes de validación */
.validation-status {
  font-size: 0.85rem;
  color: #dc3545; /* Rojo para errores */
  margin-top: 5px;
}

.valid {
  border: 2px solid #00c331; /* Verde para válido */
}
