/* General */
body {
  background-color: #f4f9f4; /* Verde pálido */
  color: #004658; /* Azul oscuro */
  padding-top: 70px; /* Espacio para la barra de navegación fija */
}
/* Título de la página */
h2 {
  color: #004658;
  font-weight: bold;
}

/* Tarjeta del formulario */
.card {
  border: 2px solid #a6a6a6; /* Verde menta */
  border-radius: 12px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.card-body {
  background-color: #f7f7f7; /* Blanco hielo */
  padding: 20px;
  border-radius: 10px;
}

/* Formularios */
label {
  font-weight: bold;
  color: #2c3e50; /* Azul oscuro */
}

.col-form-label{
  text-align: right;
}

.form-control {
  border: 1px solid #004658; /* Verde menta */
  border-radius: 8px;
}

.form-control:focus {
  border-color: #006d77; /* Verde azulado */
  box-shadow: 0 0 5px rgba(0, 109, 119, 0.5);
}

/* Total */
#reserva-total {
  font-size: 18px;
  font-weight: bold;
  color: #006d77;
}

/* Botones */
.btn-primary {
  width: 45%;
  background-color: #006d77;
  border: none;
  border-radius: 8px;
}

.btn-primary:hover {
  background-color: #004658;
  color: #b7b7b7;
}

/* Respuesta a pantallas pequeñas */
@media (max-width: 768px) {
  .container {
    padding: 15px;
  }

  h2 {
    font-size: 20px;
  }
}
