/* Estilos generales */
body {
    background-color: #F2F2F2;
    color: #333;
    margin: 0;
    padding: 0;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #004658;
    color: #FFFFFF;
    margin-top: 20px;
    font-size: 14px;
}

/* Contenedor principal */
#survey-container {
    background-color: #FFFFFF;
    padding: 20px;
    margin: 50px auto;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 75%;
    text-align: left;
}

/* Encabezado */
h1 {
    color: #004658;
    font-size: 28px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
    font-weight: bold;
}

/* Preguntas */
.question {
    margin-bottom: 20px;
}

.question p {
    color: #333;
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: bold;
}

/* Opciones */
label {
    display: block;
    font-size: 16px;
    margin-bottom: 10px;
    color: #333;
}

input[type="radio"],
input[type="checkbox"] {
    margin-right: 10px;
}

/* Botones */
button {
    width: 30%;
    padding: 12px;
    background-color: #004658;
    color: #FFFFFF;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 33%;
    margin-top: 20px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #00778A;
}

/* Estilo responsivo */
@media (max-width: 768px) {
    #survey-container {
        padding: 15px;
        margin: 20px;
    }

    h1 {
        font-size: 24px;
    }

    .question p {
        font-size: 16px;
    }

    label {
        font-size: 14px;
    }

    button {
        font-size: 14px;
    }
}
