/* General */
body {
  background-color: #f4f9f4; /* Verde pálido */
  color: #004658; /* Azul oscuro */
  display: flex;
  flex-direction: column;
  min-height: 100vh;  /* Asegura que el cuerpo tenga al menos la altura de la ventana */
}

.container {
  flex: 1; /* Permite que el contenido se expanda y ocupe el espacio disponible */
}

.card {
  width: 100%;
  max-width: 300px;
  height: 450px;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.2s ease-in-out;
  margin: auto;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #004658;
    color: #FFFFFF;
    margin-top: 20px;
    font-size: 14px;
}

.card-img-top{
  height: 80%;
}

h2{
  color: #004658;
  font-weight: bold;
}


.card-title {
  padding-top: 11px;
  padding-bottom: 11px;
  background-color: #006d77;
  color: white;
  text-align: center;
}

.card-body {
  color: #004658;
}

.card-text br{
  margin-bottom: 10px;
}

.card-footer {
  background-color: #f1f1f1;
  border-top: 1px solid #004658;
  text-align: right;
}

.btn-danger {
  margin-left: 33%;
  font-size: 15px;
  padding-top: 10px;
  padding-bottom: 13px;
  width: 30%;
  background-color: #b02a37;
  border-radius: 8px;
}

.btn-danger:hover {
  background-color: #900d23;
}

.card {
  margin-bottom: 24px; /* Espacio vertical adicional */
}
