/* Título */
.navbar-title {
    background-color: #033c4a;
    font-style: italic;
    font-size: 36px;
    color: #ffffff;
    text-align: center; /* Asegura que el título esté centrado */
}

.navbar-title a {
    font-style: italic;
    color: #ffffff;
    text-decoration: none;
}

.navbar-title a:hover {
    color: #d0d0d0;
}

/* Navbar */
.navbar {
    background-color: #004658;
    display: flex;
    flex-direction: column; /* Asegura que el título esté encima de las opciones */
    align-items: center; /* Centra el contenido de la navbar */
    position: relative; /* Necesario para asegurar que el título no quede solapado */
}


/* Opciones del menú */
.navbar-nav {
    display: flex;
    justify-content: center; /* Centra las opciones */
    width: 100%;
}

.navbar-nav .nav-link {
    color: #ffffff;
    margin-left: 10px;
}
/* Color blanco para el ícono */
.bi-house-door {
    color: white !important;
    transition: opacity 0.3s;
}

/* Efecto hover */
.bi-house-door:hover {
    opacity: 0.8;
}

/* Fondo del navbar (si no lo tienes) */
.navbar {
    background-color: #333; /* Ajusta al color de tu tema */
}
